.header-right {
  background-color: #83b883;
  padding: 10px;
  overflow: hidden;
}

.header-right a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 2em;
  text-decoration: none;
}

.header-right a:hover {
  color: yellow;
}

.header-right a.active {
  background-color: #668464;
  color: white;
}

.header-right {
  float: right;
}

body {
  background-color: #83b883
  padding: 10px;
  overflow: hidden;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-right: 10px;
}

ul > li {
  display: inline-block;
}
